body{
background-color: rgb(139, 5, 139);
color: rgb(102, 4, 77);
}
section{
 background-color: rgb(214, 88, 187);
 padding-top: 77px;
 padding-bottom: 77px;
 display: flex;
 justify-content: center;
}

.primera camada{
 margin-right:5%;
  
}
 .assistamaisvideos{
   display: flex;
   overflow-x: auto;
   gap: 10px;    
}

header  {
margin: 55px;
background-color: rgb(219, 134, 212);
text-size-adjust: 99px;
justify-content: center;
border: botom 3px rgb(rgb(196, 17, 166)) padding 29px; 
}







